<section class="productsToBuy">

  <center>
    <FONT FACE="helvetica neue" SIZE=6 COLOR="black"><b>Productos para Comprar</b></FONT>
  </center>

  <el-divider></el-divider>

  <el-row v-loading="loading" element-loading-background="rgba(254, 254, 254, 0.7)">

      <el-table :data="currentProductsToBuyView" size="mini" height="70vh" style="margin-top: 15px;">

          <el-table-column
          v-for="column in columnsProductsToBuy"
          :key="column.id"
          :label="column.label"
          :prop="column.prop"
          :width="column.width"
          />

      </el-table>

  </el-row>

</section>