<section class="productsToSell">

    <center>
        <FONT FACE="helvetica neue" SIZE=6 COLOR="black"><b>Productos para Vender</b></FONT>
    </center>

    <el-divider></el-divider>

    <el-row>
        <el-col>
            <el-button
                @click="dialogNewProductVisible=true"
                type="warning"
                size="mini"
                style="margin-right: 5px;"
            >
                Nuevo Producto
            </el-button>
            <el-button
                @click="downloadTemplate()"
                type="warning"
                size="mini"
                :loading="loadingTemplate"
                >
                    Descargar Plantilla
                </el-button>
            <el-button
                @click="dialogMasiveChargeVisible=true"
                type="warning"
                size="mini"
                style="margin-right: 5px;"
                :loading="loadingMasive"
            >
                Carga Masiva
            </el-button>
            <el-button
                @click="downloadLogMasive('load')"
                size="mini"
                style="margin-right: 1rem"
                type="warning"
                plain
                v-if="logMasiveLoad !== ''"
                :loading="logMasiveLoad === 'loading'"
                :disabled="logMasiveLoad === ''"
            >
                Descargar log
            </el-button>
        </el-col>
    </el-row>

    <el-row v-loading="loading" element-loading-background="rgba(254, 254, 254, 0.7)">

        <el-table :data="currentProductsToSellView" size="mini" height="70vh" style="margin-top: 15px;" :default-sort="{prop:'id', order:'ascending'}" :key="componentKey">

            <el-table-column
            v-for="column in columnsProductsToSell"
            :key="column.id"
            :label="column.label"
            :prop="column.prop"
            :width="column.width"
            sortable
            />

            <el-table-column width="140">
                <template slot-scope="scope">
                <el-button
                    size="mini"
                    @click="editProduct(scope.row)"
                    type="primary"
                    icon="el-icon-edit"
                    circle
                    title="Editar"
                ></el-button>
                <el-button
                    size="mini"
                    @click="deleteProduct(scope.row)"
                    type="danger"
                    icon="el-icon-delete"
                    circle
                    title="Eliminar"
                ></el-button>
                </template>
            </el-table-column>

        </el-table>

    </el-row>


    <!-- Dialog de create new product-->

    <el-dialog
    :title="newProductTitle"
    :visible.sync="dialogNewProductVisible"
    width="30%"
    >
    <el-form
        :model="createProductForm"
        ref="createProductForm"
        size="mini"
        :rules="editProductForm.rules"
        style="text-align: left"
    >
        <el-row :gutter="20">
            <el-col :span="12">
                <el-form-item label="Nombre" prop="nombre">
                    <el-input maxlength="30" v-model="createProductForm.nombre" />
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Categoría" prop="id_categoria">
                    <el-select
                    size="mini"
                    placeholder="Seleccione una categoría"
                    v-model="createProductForm.id_categoria"
                    >
                        <el-option
                        v-for="item in categories"
                        :key="item.key"
                        :label="item.label"
                        :value="item.key"
                        ></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="24">
                <el-form-item label="Descripción" prop="descripcion">
                    <el-input maxlength="30" v-model="createProductForm.descripcion" />
                </el-form-item>
            </el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="10">
                <el-form-item label="Precio ($)" prop="precio">
                    <el-input type="number" v-model="createProductForm.precio" />
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="Stock" prop="stock">
                    <el-input type="number" v-model="createProductForm.stock" />
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="Nuevo" prop="nuevo">
                    <el-switch v-model="createProductForm.nuevo" style="padding-left: 10px;"></el-switch>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>

    <span slot="footer" class="dialog-footer">
        <el-button size="mini" @click="cancelCreateProduct">
            Cancelar
        </el-button>
        <el-button type="primary" size="mini" @click="submitNewProduct()">
            Crear
        </el-button>
    </span>
    </el-dialog>


    <!-- Dialog de edit product-->

    <el-dialog
    :title="editProductTitle"
    :visible.sync="dialogEditProductVisible"
    width="30%"
    >
    <el-form
        :model="editProductForm"
        ref="editProductForm"
        size="mini"
        :rules="editProductForm.rules"
        style="text-align: left"
    >
        <el-row :gutter="20">
            <el-col :span="12">
                <el-form-item label="Nombre" prop="nombre">
                    <el-input maxlength="30" v-model="editProductForm.nombre" />
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="Categoría" prop="id_categoria">
                    <el-select
                    size="mini"
                    placeholder="Seleccione una categoría"
                    v-model="editProductForm.id_categoria"
                    >
                        <el-option
                        v-for="item in categories"
                        :key="item.key"
                        :label="item.label"
                        :value="item.key"
                        ></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="24">
                <el-form-item label="Descripción" prop="descripcion">
                    <el-input maxlength="30" v-model="editProductForm.descripcion" />
                </el-form-item>
            </el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="10">
                <el-form-item label="Precio ($)" prop="precio">
                    <el-input maxlength="30" v-model="editProductForm.precio" />
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="Stock" prop="stock">
                    <el-input maxlength="30" v-model="editProductForm.stock" />
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="Nuevo" prop="nuevo">
                    <el-switch v-model="editProductForm.nuevo" style="padding-left: 10px;"></el-switch>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>

    <span slot="footer" class="dialog-footer">
        <el-button size="mini" @click="cancelEditProduct">
            Cancelar
        </el-button>
        <el-button type="primary" size="mini" @click="submitEditProduct()">
            Guardar
        </el-button>
    </span>
    </el-dialog>


    <!-- Dialog de masive charge-->

    <el-dialog
    title="Carga Masiva de Productos"
    :visible.sync="dialogMasiveChargeVisible"
    width="30%"
    style="padding: 0px;"
    >
        <div style="text-align: center">
            <el-upload
                class="upload-demo"
                drag
                action=""
                :http-request="loadCSVUpload"
                :before-upload="checkCSV"
                :limit="1"
                :on-exceed="handleExceed"
                :on-preview="handlePreview"
                :on-remove="handleRemove"
                :file-list="fileList"
            >
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">
                    Suelta tu archivo aquí o <em>haz clic para cargar</em>
                </div>
                <div slot="tip" class="el-upload__tip">
                    Solo un archivo csv con el formato adecuado
                    
                </div>
            </el-upload>
        </div>

        <span slot="footer" class="dialog-footer">
            <el-button size="mini" @click="cancelMassiveCharge()">
                Cancelar
            </el-button>
            <el-button type="primary" size="mini" @click="executeMassiveCharge()">
                Crear
            </el-button>
        </span>
    </el-dialog>

</section>