<section class="sellerInfo">

  <center>
      <FONT FACE="helvetica neue" SIZE=6 COLOR="black"><b>Datos del Vendedor</b></FONT>
  </center>

  <el-divider></el-divider>

  <el-form
        :model="editSellerForm"
        :rules="editSellerForm.rules"
        ref="editSellerForm"
        size="mini"
        style="text-align: left"
        >
      <el-row :gutter="8">
          <el-form-item label="Razón Social" prop="razon_social">
              <el-input maxlength="30" v-model="editSellerForm.razon_social" />
          </el-form-item>
      </el-row>
      <el-row :gutter="8">
          <el-form-item label="Email" prop="email">
              <el-input maxlength="30" v-model="editSellerForm.email" />
          </el-form-item>
      </el-row>
  </el-form>

  <span slot="footer" class="dialog-footer">
    <el-button type="primary" size="mini" @click="submitEditSeller()">
      Guardar Cambios
    </el-button>
    <el-button type="danger" size="mini" @click="deleteSeller()">
      Eliminar Usuario
    </el-button>
  </span>

</section>

</section>