<section class="soldProducts">

  <center>
    <FONT FACE="helvetica neue" SIZE=6 COLOR="black"><b>Productos Vendidos</b></FONT>
  </center>

  <el-divider></el-divider>

  <el-row v-loading="loading" element-loading-background="rgba(254, 254, 254, 0.7)">

    <el-table :data="currentSoldProductsView" size="mini" height="70vh" style="margin-top: 15px;" :default-sort="{prop:'id', order:'ascending'}" :key="componentKey">

        <el-table-column
        v-for="column in columnsSoldProducts"
        :key="column.id"
        :label="column.label"
        :prop="column.prop"
        :width="column.width"
        sortable
        />

    </el-table>

  </el-row>
</section>