.topPanel {
    text-align: left;
    line-height: 50%;
}

.cardBackground {
  background-color: #545c64;
}

.float1{
  float:left;
}

.float2{
  float:right;
}

.filterHeight{
  height: 48px
}

.btn-background {
  background-color: #40a0ffec !important;
  color: white !important;
}

.buttonStyle {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}