<section class="buyedProducts">

  <center>
    <FONT FACE="helvetica neue" SIZE=6 COLOR="black"><b>Productos Comprados</b></FONT>
  </center>

  <el-divider></el-divider>

  <el-row v-loading="loading" element-loading-background="rgba(254, 254, 254, 0.7)">

    <el-table :data="currentBuyedProductsView" size="mini" height="60vh" style="margin-top: 15px;" :default-sort="{prop:'id', order:'ascending'}">

        <el-table-column
        v-for="column in columnsBuyedProducts"
        :key="column.id"
        :label="column.label"
        :prop="column.prop"
        :width="column.width"
        sortable
        />

    </el-table>

    <el-pagination
        background
        :current-page.sync="buyedProductsPages"
        layout="total, prev, pager, next, jumper, sizes"
        :page-sizes.sync="pageSizes"
        :page-size.sync="pageSize"
        :total="searchBuyedProductsBar.length"
        style="margin-top: 1rem; text-align: center;"
    />

  </el-row>

</section>